# MySQL/Database Settings
MYSQL_DATABASE=wordpress
MYSQL_ROOT_PASSWORD=root

# WordPress Settings
WORDPRESS_DB_USER=root
WORDPRESS_DB_PASSWORD=root
WORDPRESS_DB_NAME=wordpress

# Next.js & WooCommerce API Settings
NEXT_PUBLIC_WORDPRESS_URL=http://localhost:8080
WC_CONSUMER_KEY=your_woocommerce_consumer_key
WC_CONSUMER_SECRET=your_woocommerce_consumer_secret
WP_USER=admin
WP_APP_PASSWORD=your_wordpress_application_password
JWT_AUTH_SECRET=your_jwt_auth_secret_here

NEXT_PUBLIC_PAYPAL_CLIENT_ID=your_paypal_client_id
PAYPAL_SECRET=your_paypal_secret_here